# Week 1 handin

## 01 Assignment
Here is the text for the assignment linked to

## 02 Status
Alle opgaver er lavet ud over ekstra opgaverne. Jeg søgte en smule hjælp fra internettet, da jeg ikke kunne løse opgaven alene ud fra det udleveret materiale.

## 03 Solution part 1

In [2]:
# 1.1
named_list = ["Hanne", "Frank", "Hans", "Henning", "Kenneth"]
letters = ["H"]
sort_names = [names for names in named_list if names.startswith("H")]
sort_names#

['Hanne', 'Hans', 'Henning']

In [2]:
# 1.2

numbered_list = list(range(1, 101, 3))
numbered_list

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97,
 100]

In [8]:
# 1.3 


list_of_names = ["Lasse", "Daniel", "Artem", "Johnny"] 

touple_list=[(len(value),value) for value in list_of_names]
touple_list

[(5, 'Lasse'), (6, 'Daniel'), (5, 'Artem'), (6, 'Johnny')]

In [4]:
# 1.4

str = "10 drenge spillede fodbold på hold 4"
[int(s) for s in str.split() if s.isdigit()]

[10, 4]

In [5]:
# 1.5 

dice1 = ["1","2","3","4","5","6"]
dice2 = ["1","2","3","4","5","6"]

combo = [d1 + d2 for d1 in dice1 for d2 in dice2]
combo

['11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66']

## 04 Solution part 2

In [6]:
# 2.1

names_list = ["Hans", "Grete", "Heksen"] 

mydict= {len(value): value for value in names_list} 
mydict

{4: 'Hans', 5: 'Grete', 6: 'Heksen'}

{4: 'Hans', 5: 'Grete', 6: 'Heksen'}

In [10]:
# 2.2

import math
number=[4,6,8,12,14]
rootedNumber = []
for value in number: rootedNumber.append(math.sqrt(value))
numberList = dict(zip(rootedNumber, number))
print(numberList)

{2.0: 4, 2.449489742783178: 6, 2.8284271247461903: 8, 3.4641016151377544: 12, 3.7416573867739413: 14}

In [11]:
# 2.3 

combinations=set([(x,y) for x in range(1,7) for y in range(1,7) ])
total_combination={}

for combo in combinations:
    total_combination.setdefault(combo[0]+combo[1] ,0)
    total_combination[combo[0]+combo[1]]+=1
    
#print(total_combination)
key_list=list(total_combination.keys())   #otherwise I get an object dict_keys([4, 12, 11, 3, 8, 7, 6, 10, 9, 5, 2])
#print(total_combination.keys())

key_list.sort()
#key_list_sum=sum(total_combination.values())
#print(key_list_sum)


total_likelyhood={}
for key in key_list:
    total_likelyhood[key]=str(total_combination.get(key,-1)/len(combinations)*100)+'%'

total_likelyhood

{2: '2.7777777777777777%',
 3: '5.555555555555555%',
 4: '8.333333333333332%',
 5: '11.11111111111111%',
 6: '13.88888888888889%',
 7: '16.666666666666664%',
 8: '13.88888888888889%',
 9: '11.11111111111111%',
 10: '8.333333333333332%',
 11: '5.555555555555555%',
 12: '2.7777777777777777%'}